<div id="set_cookie">Set Cookie</div>
<script>
    document.querySelector('#set_cookie').addEventListener('click', () => {
        let name = 'by client';
        let age = Math.random();
        let path = '/cookie_storage';

        // Se espressamente impostato dovrebbe rendere il cookie accessibile anche ai sottodomini.
        let domain = "localhost";

        // Teoricamente i cookie di sessione vengono cancellati quando si chiude il browser, ma in realtà dipende dalle impostazioni del browser.
        // Se non imposto nulla, il cookie è di sessione, se imposto l'expire invece lo gestisco io.
        let maxAge = (new Date(Date.now() + 60000)).toUTCString();

        let onlyHttps = 'secure';

        window.document.cookie = `${encodeURIComponent(name)}=${encodeURIComponent(age)}; path=${path}; domain=${domain}; expires=${maxAge}; ${onlyHttps};`;
    })
</script>

<!-- Questa funziona! Se su Trovaprezzi metto questa rotta viene correttamente chiamata e gli vengono passati i cookie di trovaprezziinternal-->
<!-- I cookie di Trovaprezzi con samesite strict però non vengono inviati -->
<form action="https://trovaprezziinternal/mybperbank" method="post">
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome"><br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email"><br><br>
  <input type="submit" value="Invia">
</form>
<!-- Se questa pagina /cookie_storage fosse malevola, potrei fare una post verso la banca bper dell'utente passandogli le credenziali e autorizzare qualche operazione!  -->